html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pageContents {
  flex: 1 1 auto;
  min-height: 0;
  margin: 8px;
  max-height: 84vh;
}